
<div class="row">
    <div class="col-lg-3">
        <label for="booksQuery">Ricerca libro</label>
        <input type="text" class="form-control" id="booksQuery" [formControl]="booksQuery">
    </div>
    <div class="col-lg-3">
        <label for="itemsPerPage">Risultati per pagina</label>
        <select class="form-control" id="itemsPerPage" [(ngModel)]="itemsPerPage" (change)="currentPage = 1; updateCurrentPage()">
            <option *ngFor="let option of itemsPerPageOptions" [ngValue]="option">{{option}}</option>
        </select>
    </div>
</div>
<div class="row" *ngIf="currentPageBooks.length > 0">
    <div class="col">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Anno</th>
                <th scope="col">Titolo</th>
                <th scope="col">Autore</th>
                <th scope="col">Editore</th>
                <th scope="col">Descrizione</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let book of currentPageBooks; let i = index" routerLink="/book-info" [state]="book">
                <th>{{book.volumeInfo.publishedDate | slice:0:4}}</th>
                <td>{{book.volumeInfo.title}}</td>
                <td>{{book.volumeInfo.authors}}</td>
                <td>{{book.volumeInfo.publisher}}</td>
                <td>{{book.volumeInfo.description | truncate}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row" *ngIf="currentPageBooks.length > 0">
    <div class="col-lg-2">
        <label for="currentPage">N° pagina</label>
        <select class="form-control" id="currentPage" [(ngModel)]="currentPage" (change)="updateCurrentPage()">
            <option *ngFor="let option of numberOfPagesOptions" [ngValue]="option">{{option}}</option>
        </select>
    </div>
</div>
